*
{
  margin: 0;
  padding: 0;
}
.image {
  background-image: url('../image/showcase.jpg');
  background-size: cover;
  background-position: center;
  height:100vh;
}
header {
  color: beige;
}
body {
  background-color: yellow;
}